<h2>Recently added</h2>
<div>
  <% books.forEach(book =>{ %>

  <a href="/books/<%= book.id %>">
    <img src="<%= book.coverImagePath %>" width="150" height="200" alt="" />
  </a>

  <div><%= book.title %></div>

  <% }) %>
</div>
